In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

sns.set()

In [2]:
dataset = pd.read_excel('dataset.xlsx')

In [3]:
dataset

,Rank,Influence \nScore,Date of Max \nInfluence,Summary Tweet
0,1,31.0,2020-02-04,"""RT @NPR: One doctor in Hong Kong says he unde..."
1,2,31.0,2020-02-04,"""RT @NPR: One doctor in Hong Kong says he unde..."
2,3,31.0,2020-02-04,RT @ABCWorldNews: Hundreds of Hong Kong hospit...
3,4,31.0,2020-02-04,RT @ABCWorldNews: Hundreds of Hong Kong hospit...
4,5,31.0,2020-02-04,RT @Independent: Hong Kong hospital workers st...
...,...,...,...,...
761,762,NaN,NaT,NaN
762,763,NaN,NaT,NaN
763,764,NaN,NaT,NaN
764,765,NaN,NaT,NaN
765,766,NaN,NaT,NaN